/* to be determined */

.portfolio-chunk {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.notetaker {
  background-color: tan;
}

.quiz {
  background-color: tan;
}

.schedule {
  background-color: tan;
}

.footer {
  display:flex;
  justify-content: space-evenly;
}